.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xkbbell
xkbbell.1
xkbvleds
xkbvleds.1
xkbwatch
xkbwatch.1
*~
*.o
xkbutils-*.tar.*
ChangeLog
tags
